@model Order

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Заказ</h2>

<div class="row">
<div class="col-md-6">
    <form asp-action="Create" asp-controller="Order" method="post">
        <div class="form-group mb-3">
            <label for="Name" class="mb-2">Имя покупателя</label>
            <input asp-for="Name"
                   type="text"
                   class="form-control"
                   id="Name"
                   placeholder="Имя">
        </div>
        <div class="form-group mb-3">
            <label for="phone" class="mb-2">Номер телефона</label>
            <input asp-for="PhoneNumber"
                   type="text"
                   class="form-control"
                   id="phone"
                   placeholder="+ 7 777 777 77 77">
        </div>
        <div class="form-group mb-3">
                    <label for="device" class="mb-2">Выбран телефон</label>
                    <input disabled type="text"
                           class="form-control"
                           id="device"
                           value="@Model.Phone.Title">
        </div>
        <input type="hidden" asp-for="PhoneId" value="@Model.Phone.Id">
        <button type="submit" class="btn btn-outline-info mt-3">Заказать</button>
    </form>
</div>
</div>
