@model CreatePhone

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

    <h2>Запоните поля для добавления нового телефона</h2>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post">
            <div class="form-group mb-3">
                <label for="manufacture" class="mb-2">Производитель</label>
                <input asp-for="Phone.Manufacture"
                       type="text"
                       class="form-control"
                       id="manufacture"
                       placeholder="Apple">
            </div>
            <div class="form-group mb-3">
                <label for="title" class="mb-2">Модель</label>
                <input asp-for="Phone.Title"
                       type="text"
                       class="form-control"
                       id="title"
                       placeholder="IPhone 13 Pro Max">
            </div>
            <div class="form-group mb-3">
                <label for="weight" class="mb-2">Описание</label>
                <input asp-for="Phone.Description"
                       type="text"
                       class="form-control"
                       id="weight"
                       placeholder="ну конечно не 'топ за свои деньги' как сясёми, за то нет рекламы в проводнике...">
            </div>
            <div class="form-group mb-3">
                <label for="price" class="mb-2">Цена</label>
                <input asp-for="Phone.Coast"
                       type="date"
                       class="form-control"
                       id="price"
                       placeholder="10000000000000$">
            </div>
            <button type="submit" class="btn btn-outline-info mt-3">Создать</button>
        </form>
    </div>
    <div class="mt-5">
    @{
        if (Model.ErrorViewModel.Errors.Any())
           {
               foreach (var error in Model.ErrorViewModel.Errors)
               {
                    <p class="p-3 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-3">
                        @error.ErrorMessage
                    </p>
               }
           }
    }
    </div>
</div>
